tosca_definitions_version: alien_dsl_2_0_0
#
# Copyright 2018 Bull S.A.S. Atos Technologies - Bull, Rue Jean Jaures, B.P.68, 78340, Les Clayes-sous-Bois, France.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

metadata:
  template_name: org.ystia.nfs.linux.ansible
  template_version: 2.1.0
  template_author: yorc

imports:
  - tosca-normative-types:1.0.0-ALIEN20
  - yorc-types:1.0.0
  - org.ystia.nfs.pub:2.1.0

node_types:
  org.ystia.nfs.linux.ansible.nodes.NFSServer:
    derived_from: org.ystia.nfs.pub.nodes.NFSServer
    interfaces:
      Standard:
        create:
          implementation: playbooks/create_server.yml
        stop:
          implementation: playbooks/stop_server.yml

  org.ystia.nfs.linux.ansible.nodes.NFSClient:
    derived_from: org.ystia.nfs.pub.nodes.NFSClient
    interfaces:
      Standard:
        inputs:
          DIRECTORY: { get_property: [SELF, location] }
        create:
          implementation: playbooks/create_client.yml
    requirements:
    - partition:
        capability: org.ystia.nfs.pub.capabilities.NFSServer
        relationship: org.ystia.nfs.linux.ansible.relationships.JoinNFSServer
        occurrences: [1, 1]

relationship_types:
  org.ystia.nfs.linux.ansible.relationships.JoinNFSServer:
    derived_from: org.ystia.nfs.pub.relationships.JoinNFSServer
    interfaces:
      Configure:
        inputs:
          DIRECTORY: { get_property: [SOURCE, location] }
          SERVER_IP: { get_attribute: [TARGET, private_address ] }
        pre_configure_source:
          implementation: playbooks/join_server.yml
