tosca_definitions_version: alien_dsl_2_0_0

#
# Ystia Forge
# Copyright (C) 2018 Bull S. A. S. - Bull, Rue Jean Jaures, B.P.68, 78340, Les Clayes-sous-Bois, France.
# Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.
#

metadata:
  template_name: org.ystia.ntp.ansible
  template_version: 2.1.0-M7
  template_author: Ystia

description: ansible implementation for NTP support.


imports:
  - tosca-normative-types:1.0.0-ALIEN20
  - yorc-types:1.0.0
  - org.ystia.ntp.pub:2.1.0-M7

node_types:
  org.ystia.ntp.ansible.nodes.NtpServer:
    derived_from: org.ystia.ntp.pub.nodes.NtpServer
    interfaces:
      Standard:
        create: playbooks/create.yaml
        configure:
          inputs:
            TYPE: "server"
          implementation: playbooks/configure.yaml
        start: playbooks/start.yaml
        stop: playbooks/stop.yaml

  org.ystia.ntp.ansible.nodes.NtpClient:
    derived_from: tosca.nodes.SoftwareComponent
    metadata:
      icon: /images/ntp-client-icon.png
    requirements:
      - ntp_server: 
          capability: org.ystia.ntp.pub.capabilities.NtpEndpoint
          relationship: org.ystia.ntp.ansible.relationships.ConnectsTo
          occurrences: [1, UNBOUNDED] 
    interfaces:
      Standard:
        create: playbooks/create.yaml
        configure:
          inputs:
            TYPE: "client"
          implementation: playbooks/configure.yaml
        start: playbooks/start.yaml
        stop: playbooks/stop.yaml
          
    
relationship_types:
  org.ystia.ntp.ansible.relationships.ConnectsTo:
    derived_from: tosca.relationships.ConnectsTo
    interfaces:
      Configure:
        inputs:
          IP_ADDRESS: {get_attribute: [TARGET, private_address]}
        add_target: playbooks/add_target_ntp_server.yaml
        remove_target: playbooks/remove_target_ntp_server.yaml
          
