[backends]
  [backends.{{SOURCE_NODE}}-backend]
    [backends.{{SOURCE_NODE}}-backend.servers.{{TARGET_INSTANCE}}]
    url = "{{TARGET_CAPABILITY_PROPERTY_protocol}}://{{IP_ADDRESS}}:{{TARGET_CAPABILITY_PROPERTY_port}}"