

[frontends]
  [frontends.frontend{{NODE}}]
  backend = "{{NODE}}-backend"
{% if RULES|default("") != "" %}
    [frontends.frontend{{NODE}}.routes.1]
    rule = "{{RULES}}"
{% endif %}

[backends]
  [backends.{{NODE}}-backend]
