################################################################
# File provider configuration
################################################################

[providers.file]
  directory = "{{CONFIG_DIR}}/traefik.d"
  watch = true
################################################################
# Entrypoints configuration
################################################################

# Entrypoints definition
#
# Optional
# Default:
[entryPoints]
  [entryPoints.main]
    address = ":{{ENTRYPOINT_PORT}}"

{% if ENABLE_DASHBOARD|default("false") == "true" %}
################################################################
# API and dashboard configuration
################################################################
# Enable API and dashboard
[api]
  dashboard = true
  # TODO(loicalbertin) deal with https://docs.traefik.io/operations/dashboard/#secure-mode
  insecure = true

{% endif %}
