tosca_definitions_version: alien_dsl_2_0_0

#
# Ystia Forge
# Copyright (C) 2018 Bull S. A. S. - Bull, Rue Jean Jaures, B.P.68, 78340, Les Clayes-sous-Bois, France.
# Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.
#

metadata:
  template_name: org.ystia.samples.tcpecho.ansible
  template_version: 3.0.0-milestone.1
  template_author: Ystia

description: Ystia TCP Echo server sample

imports:
  - tosca-normative-types:1.0.0-ALIEN20
  - yorc-types:1.1.0

node_types:
  org.ystia.samples.tcpecho.ansible.nodes.TCPEcho:
    derived_from: tosca.nodes.SoftwareComponent
    description: Installation of the TCPEcho Very Simple TCP Server, an Ystia Sample.
    tags:
      icon: /images/echo-icon.png
    attributes:
      url: { concat: ["tcp://", get_attribute: [HOST, public_ip_address], ":", get_property: [SELF, endpoint, port] ] }
    capabilities:
      endpoint: org.ystia.samples.tcpecho.capabilities.Endpoint
    interfaces:
      Standard:
        inputs:
          PORT: { get_property: [SELF, endpoint, port] }
        start: playbooks/echo-start.yaml
        stop:  playbooks/echo-stop.yaml

capability_types:
  org.ystia.samples.tcpecho.capabilities.Endpoint:
    derived_from: tosca.capabilities.Endpoint
    properties:
      port:
        type: integer
        default: 9111
        required: true
        constraints:
          - in_range: [ 1, 65535 ]
      protocol:
        type: string
        default: tcp
        constraints:
          - equal: "tcp"
