ClusterName={{ CLUSTER_NAME }}
ControlMachine={{ HOSTNAME }}

SlurmUser=slurm
SlurmctldPort={{SLURM_CTLD_PORT}}

AuthType=auth/munge
CryptoType=crypto/munge

StateSaveLocation=/etc/slurm/SLURM
SlurmdSpoolDir=/var/spool/slurmd
SlurmctldPidFile=/var/run/slurmctld.pid
SlurmdPidFile=/var/run/slurmd.pid
CacheGroups=0
ReturnToService=0
SlurmctldTimeout=300
SlurmdTimeout=300
InactiveLimit=0
MinJobAge=300
KillWait=30
Waittime=0
MpiDefault=pmi2
SchedulerType=sched/backfill
SelectType=select/cons_res
SelectTypeParameters= CR_Core_Memory
FastSchedule=1
SlurmctldDebug=5
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdDebug=5
SlurmdLogFile=/var/log/slurm/slurmd.log.%h
JobCompType=jobcomp/none
SrunPortRange=60000-60100

# Discard logs warnings on different conf files
DebugFlags=NO_CONF_HASH 

GresTypes=gpu

# Dummy node only used to start the controller before adding actual nodes
NodeName=127.0.0.1 Sockets=1 CoresPerSocket=1 ThreadsPerCore=1 RealMemory=1 State=DOWN

PartitionName=all Nodes=127.0.0.1 Default=YES MaxTime=INFINITE State=UP
