#
# Ystia Forge
# Copyright (C) 2018 Bull S. A. S. - Bull, Rue Jean Jaures, B.P.68, 78340, Les Clayes-sous-Bois, France.
# Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.
#


- name: Install Traefik
  hosts: all
  strategy: free
  become: true
  tasks:
    - name: Create Traefik directories
      file:
        path: "{{ item }}"
        state: directory
      with_items:
        - "{{ INSTALL_DIR }}"
        - "{{ CONFIG_DIR }}"
        - "{{ CONFIG_DIR }}/traefik.d"
    
    - name: Download Traefik binary
      get_url:
        url: "{{ DOWNLOAD_URL }}"
        dest: "{{ INSTALL_DIR }}/traefik"
        owner: root
        group: root
        mode: 0755

    - name: Create traefik systemd unit
      template:
        src: "traefik.service.j2"
        dest: "/etc/systemd/system/traefik.service"
        owner: root
        group: root
        mode: 0644
    
    - name: Ensure traefik service is enabled and stopped
      service:
        name: traefik
        state: stopped
        enabled: yes
        daemon_reload: yes
    
    