listener "tcp" {
  address                            = "{{ VAULT_IP }}:{{ VAULT_PORT }}"
  tls_disable                        = "{{ VAULT_TLS_DISABLED }}"
  {% if vault_secured -%}
  tls_cert_file                      = "{{ CONFIG_DIR }}/vault.pem"
  tls_key_file                       = "{{ CONFIG_DIR }}/vault.key"
  {% if  VAULT_TLS_VERIFY | bool -%}
  tls_require_and_verify_client_cert = "true"
  tls_client_ca_file                 = "{{ CONFIG_DIR }}/ca.pem"
  {%- endif %}
  {%- endif %}

}


storage "consul" {
  address         = "{{ AGENT_IP }}:{{ AGENT_API_PORT }}"
  path            = "vault/"
  scheme          = "{% if AGENT_TLS_ENABLED | bool %}https{% else %}http{% endif %}"
  token           = ""
  tls_ca_file     = ""
  tls_cert_file   = ""
  tls_key_file    = ""
  tls_skip_verify = "{{ (not AGENT_TLS_ENABLED | bool) | lower }}"
}