storage "inmem" {}

listener "tcp" {
  address                            = "{{ VAULT_IP }}:{{ VAULT_PORT }}"
  tls_disable                        = true
  //tls_cert_file                      = ""
  //tls_key_file                       = ""
  //tls_require_and_verify_client_cert = ""
  //tls_disable_client_certs           = ""
  //tls_client_ca_file                 = ""
}

/*
storage "consul" {
  address         = ":"
  path            = "vault/"
  scheme          = "https"
  //token           = ""
  tls_ca_file     = ""
  tls_cert_file   = ""
  tls_key_file    = ""
  tls_skip_verify = ""
}

ui = ""

log_level = ""

log_format = ""

pid_file = ""
*/